/* groupings & none-by-section */
/* allowed global resets */
h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}
/* end of allowed global resets */

:root {
  --blue: #2196f3;
  --default-text-color: #212121;
  --dark: #2f303a;
  --dark-rgb: 47 48 58;
  --gray-text: #757575;
  --gray-icon: #afb1b8;
  --white: #fff;
  --white-lesser: #eee;
  --white-alpha-10: #ffffff1a;
  --gray-bcg: #f5f4fa;
  --white-alpha-60: #fff9;
  --brdr-top: #ececec;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--default-text-color);
}

.container {
  width: 1200px;
  margin-inline: auto;
}

.section {
  padding-block: 94px;
}

.traits-list,
.what-we-do-list,
.team-list,
.projects-list,
.customers-list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.what-we-do-title,
.team-title,
.customers-title {
  font-size: 36px;
  line-height: 1.16;
}

.what-we-do-title,
.team-title {
  padding-bottom: 50px;
}

.logo,
.traits,
.what-we-do-title,
.team,
.customers-title,
.contact,
.btn-filter,
.project-category,
.basement-social {
  letter-spacing: 0.03em;
}

.top-line,
.traits,
.place-and-contacts,
.basement-social {
  font-size: 14px;
}

.banner,
.what-we-do-title,
.team,
.customers-title {
  text-align: center;
}

.trait,
.basement-social {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.theme-line,
.btn-request,
.place-and-contacts,
.basement-social {
  color: var(--white);
}

.btn {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--white);
  background-color: var(--blue);
}

.link {
  color: currentColor;
  text-decoration: none;
}

.link:hover,
.link:focus,
.contacts-header li:hover,
.contacts-header li:focus {
  color: var(--blue);
}
.icon-header:focus {
  color: var(--blue);
}

.contacts-header,
.trait-about,
.trade {
  color: var(--gray-text);
}

.logo {
  margin-right: 97px;
  font: 700 26px/1.19 'Raleway', sans-serif;
  color: var(--blue);
}

.icon-social-team,
.icon-customer {
  fill: var(--gray-icon);
}

.team-social-link:hover,
.team-social-link:focus,
.basement-social-link:hover,
.basement-social-link:focus {
  background-color: var(--blue);
}

.team-social-link:hover .icon-social-team,
.team-social-link:focus .icon-social-team {
  fill: var(--white);
}
/* end of groupings & none-by-section */

/* index.html */
/* header */
header {
  border-bottom: 1px solid var(--brdr-top);
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.top-line-nav {
  display: flex;
  align-items: center;
}
.top-line-nav li:nth-of-type(2) {
  padding-right: 53px;
}
.top-line-nav li:nth-of-type(3) {
  padding-right: 69px;
}

.contacts-header {
  display: flex;
}

.contacts-header li {
  display: flex;
  align-items: center;
}

.contacts-header li:nth-of-type(1) {
  padding-right: 50px;
}

.contacts-header svg {
  margin-right: 10px;
}
/* end of header */

/* .banner section */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  height: 600px;
  padding: 200px 452px;
  background-image: linear-gradient(
      rgb(var(--dark-rgb) / 0.4),
      rgb(var(--dark-rgb) / 0.4)
    ),
    url(../images/banner-img.jpg);
  background-size: 1600px;
  background-position: center;
  background-repeat: no-repeat;
}

.theme-line {
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-request {
  width: 200px;
  padding-block: 10px;
  padding-inline: 19px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--blue);
}
/* end of .banner section */

/* .traits section */
.traits {
  padding-bottom: 6px;
}

.traits-list li {
  flex-basis: calc((100%-90px) / 4);
}

.icon-trait {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--gray-bcg);
}

.trait-about {
  line-height: 1.71;
}
/* end of .traits section */

/* .team section */
.team {
  line-height: 1.1875;
  background-color: var(--gray-bcg);
}

.team-card {
  background-color: var(--white);
}

.team-card figure {
  margin: 0;
}

.name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
}

.team-social-list {
  display: flex;
  justify-content: space-evenly;
  margin: 16px 32px 30px;
}

.team-social-link {
  display: flex;
  padding: 12px;
  border-radius: 50%;
}
/* end of .team section */

/* .customers sections */
.customers-list {
  margin-top: 50px;
}

.customer-link {
  display: block;
  padding: 16px 32px;
  border: 1px solid var(--gray-icon);
  border-radius: 4px;
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid var(--blue);
}
.customer-link:hover .icon-customer,
.customer-link:focus .icon-customer {
  fill: var(--blue);
}
/* end of .customers sections */

/* footer */
.basement {
  background-color: var(--dark);
}

.container-footer {
  display: flex;
  gap: 70px;
}

.basement-address {
  padding-block: 60px;
}

.basement .logo {
  display: block;
  padding-bottom: 9px;
}

.place-and-contacts {
  font-style: normal;
  line-height: 1.71;
}

.contacts-footer {
  color: var(--white-alpha);
}

.basement-social {
  padding-top: 75px;
}

.basement-social-list {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.basement-social-link {
  display: flex;
  padding: 12px;
  background-color: var(--white-alpha-10);
  border-radius: 50%;
}

.icon-social-basement {
  fill: var(--white);
}
/* end of footer */
/* end of index.html */

/* portfolio.html */
.filters {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn-filter {
  padding-block: 6px;
  padding-inline: 26px;
  margin-bottom: 50px;
  font-weight: 500;
  line-height: 1.625;
  color: var(--default-text-color);
  background-color: var(--gray-bcg);
}
.btn-filter.wider {
  padding-inline: 53px;
}

.projects-list {
  flex-wrap: wrap;
}

.project-card {
  margin: 0;
}

.project-card img {
  /* this property is in here to remove a thin gap between <img> & <figcaption>;
  the following rule would work the same way:
  .project-card{display:flex;flex-direction:column;} */
  display: block;
}

.project-card figcaption {
  border-bottom: 1px solid var(--white-lesser);
  border-left: 1px solid var(--white-lesser);
  border-right: 1px solid var(--white-lesser);
}

.project-title {
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-category {
  padding-bottom: 20px;
  padding-left: 24px;
  line-height: 1.875;
}
/* end of portfolio.html */
