/* groupings & none-by-section */
/* allowed global resets */
h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}
/* end of allowed global resets */

:root {
  --blue: #2196f3;
  --default-text-color: #212121;
  --gray-text: #757575;
  --dark: #2f303a;
  --white: #fff;
  --white-lesser: #eee;
  --gray-bcg: #f5f4fa;
  --white-alpha: #fff9;
  --brdr-top: #ececec;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--default-text-color);
}

.container {
  width: 1200px;
  margin-inline: auto;
}

.section {
  padding-block: 94px;
}

.traits-list,
.what-we-do-list,
.team-list,
.projects-list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.what-we-do-title,
.team-title {
  font-size: 36px;
  line-height: 1.16;
}

.what-we-do-title,
.team-title {
  padding-bottom: 50px;
}

.logo,
.traits,
.what-we-do-title,
.team,
.contact,
.btn-filter,
.project-category {
  letter-spacing: 0.03em;
}

.top-line,
.traits,
.contact {
  font-size: 14px;
}

.theme-line,
.btn-request,
.contact {
  color: var(--white);
}

.btn {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--white);
  background-color: var(--blue);
}

.link {
  color: currentColor;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--blue);
}

.contacts-header,
.trait-about {
  color: var(--gray-text);
}

.logo {
  padding-right: 97px;
  font: 700 26px/1.19 'Raleway', sans-serif;
  color: var(--blue);
}

.banner,
.what-we-do-title,
.team {
  text-align: center;
}
/* end of groupings & none-by-section */

/* index.html */
/* header */
header {
  border-bottom: 1px solid var(--brdr-top);
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.top-line-nav {
  display: flex;
  align-items: center;
}
.top-line-nav li:nth-of-type(2) {
  padding-right: 53px;
}
.top-line-nav li:nth-of-type(3) {
  padding-right: 69px;
}

.contacts-header {
  display: flex;
}
.contacts-header li:nth-of-type(1) {
  padding-right: 50px;
}
/* end of header */

/* .banner section */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  height: 600px;
  padding: 200px 452px;
  background-color: var(--dark);
}

.theme-line {
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-request {
  width: 200px;
  padding-block: 10px;
  padding-inline: 19px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--blue);
}
/* end of .banner section */

/* .traits section */
.traits {
  padding-bottom: 6px;
}

.trait {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.trait-about {
  line-height: 1.71;
}
/* end of .traits section */

/* .team section */
.team {
  line-height: 1.1875;
  background-color: var(--gray-bcg);
}

.team-card {
  background-color: var(--white);
}

.team-card figure {
  margin: 0;
}

.name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
}

.trade {
  padding-bottom: 30px;
  color: var(--gray-text);
}
/* end of .team section */

/* footer */
.basement {
  background-color: var(--dark);
}

.basement .logo {
  display: block;
  padding-top: 60px;
  padding-bottom: 9px;
}

.contact {
  font-style: normal;
  line-height: 1.71;
}

.contacts-footer {
  padding-bottom: 60px;
  color: var(--white-alpha);
}
/* end of footer */
/* end of index.html */

/* portfolio.html */
.filters {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn-filter {
  padding-block: 6px;
  padding-inline: 26px;
  margin-bottom: 50px;
  font-weight: 500;
  line-height: 1.625;
  color: var(--default-text-color);
  background-color: var(--gray-bcg);
}
.btn-filter.wider {
  padding-inline: 53px;
}

.projects-list {
  flex-wrap: wrap;
}

.project-card {
  margin: 0;
}

.project-card img {
  /* this property is in here to remove a thin gap between <img> & <figcaption>;
  the following rule would work the same way:
  .project-card{display:flex;flex-direction:column;} */
  display: block;
}

.project-card figcaption {
  border-bottom: 1px solid var(--white-lesser);
  border-left: 1px solid var(--white-lesser);
  border-right: 1px solid var(--white-lesser);
}

.project-title {
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-category {
  padding-bottom: 20px;
  padding-left: 24px;
  line-height: 1.875;
}
/* end of portfolio.html */
