$blue: #2196f3;
$blue-alpha-90: #2196f3e6;
$default-text-color: #212121;
$black: #000;
$black-alpha-10: #0000001a;
$modal-backdrop-background: #00000033;
$dark: #2f303a;
$dark-alpha-80: #2f303acc;
$dark-alpha-40: #2f303a66;
$gray-text: #757575;
$gray-text-alpha-50: #75757580;
$gray-icon: #afb1b8;
$gray-bcg: #f5f4fa;
$white: #fff;
$white-alpha-10: #ffffff1a;
$white-alpha-30: #ffffff4d;
$white-alpha-60: #fff9;
$white-lesser: #eee;
$border-header: #ececec;
$border-modal-input: #21212133;

$time-timingFunction: 250ms cubic-bezier(0.4, 0, 0.2, 1);
